@using BlogProject.EntityLayer.Concrete
@model List<Article>
<section>
    <div class="container">
        <div class="owl-carousel owl-theme blog-slider">
            @foreach (var item in Model)
            {
                <div class="card blog__slide text-center">
                    <div class="blog__slide__img">
                        <img class="card-img rounded-0" src="@item.CoverImageUrl" alt="">
                    </div>
                    <div class="blog__slide__content">
                        <a class="blog__slide__label" href="#">@item.category.CategoryName</a>
                        <h3><a href="#">@item.Title</a></h3>
                        <p>
                            @{
                                var difference = (DateTime.Now - item.CreatedDate).Days;
                                var timeAgo = difference == 0 ? "Bugün" :
                                difference == 1 ? "1 gün önce" :
                                $"{difference} gün önce";
                            }
                            @timeAgo
                        </p>
                    </div>
                </div>
            }
            
            
        </div>
    </div>
</section>