<div class="single-sidebar-widget tag_cloud_widget">
    <h4 class="single-sidebar-widget__title">Tag Cloud</h4>
    <ul class="list">
        <li>
            <a href="#">Teknoloji</a>
        </li>
        <li>
            <a href="#">Kamp</a>
        </li>
        <li>
            <a href="#">Doğa</a>
        </li>
        <li>
            <a href="#">Seyehat</a>
        </li>
        <li>
            <a href="#">Yazılım</a>
        </li>
      
    </ul>
</div>