@using BlogProject.EntityLayer.Concrete
@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<div class="row column4 graph">
    <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                    <h2>Blog Yorumları</h2>
                </div>
            </div>
            <div class="full progress_bar_inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="msg_section">
                            <div class="msg_list_main">
                                <ul class="msg_list">
                                    @foreach (var item in Model)
                                    {
                                        <li class="d-flex align-items-center">
                                            <!-- Profil Resmi -->
                                            <img src="@item.AppUser.ImageUrl" alt="Profil Resmi" class="profile-img">

                                            <!-- Başlık ve Detay -->
                                            <div class="content flex-grow-1">
                                                <h6>@item.Article.Title</h6>
                                                <span class="msg_user">@item.Detail</span>
                                            </div>

                                            <!-- Tarih -->
                                            <div class="time-container">
                                                <span class="time_ago">@item.CreatedDate.ToString("dd-MMM")</span>
                                            </div>

                                            <!-- Buton Grubu -->
                                            <div class="btn-group">
                                                <a href="/Writer/Comment/DeleteComment/@item.CommentId" class="btn cur-p btn-outline-danger btn-md">Sil</a>
                                                <a href="/Writer/Comment/UpdateComment/@item.CommentId" class="btn cur-p btn-outline-dark btn-md">Güncelle</a>
                                            </div>
                                        </li>

                                    }
                                </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .msg_list li {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }

    .profile-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

        .content h6 {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
        }

        .content .msg_user {
            font-size: 14px;
            color: #666;
        }

    .time-container {
        display: flex;
        align-items: flex-end;
        justify-content: left;
        width: 500px; /* Tarih için sabit bir genişlik */
        text-align: left;
    }

    .time_ago {
        font-size: 14px;
        color: #555;
        white-space: nowrap;
    }

    .btn-group {
        display: flex;
        gap: 5px;
        margin-left: 10px;
    }

</style>