@using BlogProject.EntityLayer.Concrete
@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2>Yorumlar</h2>
        </div>
    </div>
</div>
<!-- row -->
<div class="row column4 graph">
    <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                    <h2>Blog Yorumları</h2>
                </div>
            </div>
            <div class="full progress_bar_inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="msg_section">
                            <div class="msg_list_main">
                                <ul class="msg_list">
                                    @foreach (var item in Model)
                                    {
                                        <li>
                                           
                                            <span>
                                                
                                                <span class="msg_user">@item.Detail</span>
                                                <span class="time_ago">@item.CreatedDate.ToString("dd-MMM")</span>
                                            </span>
                                        </li>
                                        
                                    }
                                   
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>