@using BlogProject.EntityLayer.Concrete
@model List<Comment>

<div class="comments-area">
    @if (Model != null && Model.Any())
    {
        <h4>@Model.Count Yorum</h4>
        @foreach (var item in Model)
        {
            <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                    <div class="user justify-content-between d-flex">
                        <div class="thumb">
                            <img src="@item.AppUser?.ImageUrl " ?? "/sensive-master/img/blog/user-img.png" alt="User Image">
                        </div>
                        <div class="desc">
                            <h5><a href="#">Oldukça Keyifli</a></h5>
                            <p class="date">@item?.CreatedDate.ToString("dd MMM, yyyy hh:mm tt")</p>
                            <p class="comment">@item?.Detail</p>

                        </div>
                    </div>
                    <div class="reply-btn">
                        <a href="" class="btn-reply text-uppercase">Yanıtla</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Henüz yorum eklenmemiş.</p>
    }
</div>
