
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<main class="site-main">
    <!--================Hero Banner start =================-->
    <section class="mb-30px">
        <div class="container">
            <div class="hero-banner">
                <div class="hero-banner__content">
                    <h3>Gezi & Teknoloji</h3>
                    <h1>Yeni ve Bilgi Dolu Yazılarımız</h1>
                    <h4>Aralık 12, 2024</h4>
                </div>
            </div>
        </div>
    </section>
    <!--================Hero Banner end =================-->
    <!--================ Blog slider start =================-->
    @await Component.InvokeAsync("_SliderCP")
    
    <!--================ Blog slider end =================-->
    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin mt-4">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("_BlogsCP")
                

                <!-- Start Blog Post Siddebar -->
                <div class="col-lg-4 sidebar-widgets">
                    <div class="widget-wrap">
                       @*  @await Component.InvokeAsync("_NewsletterCP") *@
                        @await Html.PartialAsync("~/Views/Newsletter/NewsletterSubscribe.cshtml")
                        @await Component.InvokeAsync("_CategoryBlogsCP")
                        @await Component.InvokeAsync("_PopularBlogsCP")
                        @await Component.InvokeAsync("_TagCloudCP")

                    </div>
                </div>
            </div>
            <!-- End Blog Post Siddebar -->
        </div>
    </section>
    <!--================ End Blog Post Area =================-->
</main>
